
#content{
margin-left: auto;
margin-right: auto;
background: #E8E8E8;
width: 900px;
height: 600px;
}
#header {
width: 900px;
height: 80px;
background:  #2471a3 ;
border-bottom: solid 3px black;
}
#header h1{
text-align:center;
margin:0px;
padding-top: 20px;
margin-left: 50px;
color:   #b3b6b7 ;
}
#main {
clear: all;
width: 780px;
height: 470px;
background: #E8E8E8;
}

#footer{
width: 900px;
height: 55px;
background: #2471a3;
clear: all;
border-top: solid 2px #b3b6b7;
}
